

#scherm1 {
  position: absolute;
  height:64%;
  width:50%;
  left: 25px;
  top: 25px;
    border-radius: 50px 0px 00px 0px;
    background-color: #ee7a34;
    color: rgb(255, 0, 0);
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;

  }
  
#scherm2 {
  position: absolute;
  height:64%;
  width:33%;
  left: 625px;
  top: 25px;
    border-radius: 00px 0px 50px 0px;
    background-color:#5fa8ad;
    color: rgb(255, 0, 0);
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  
}
  #wiel1 {
    height:100%;
    width:6%;
    left: 50px;
    top: 50px;
    background-color: red;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  }

  #bovenkant {
    height:100%;
    width:19%;
    left: 50px;
    top: 60px;
    background-color: transparent;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  }

  #raamlinks {
    height:100%;
    width:8%;
    left: 325px;
    top: -30px;
    background-color:transparent;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  }

  #raamrechts {
    height:100%;
    width:7%;
    left: 450px;
    top: -119px;
    background-color: transparent;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  }

  #voorkant {
    height:0px;
    width:0px;
    left: 75px;
    top: 270px;
    background-color: transparent;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  }

  #koplamp1 {
    height:0px;
    width:0px;
    left: 520px;
    top:  275px;
    background-color: transparent;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  }

  #koplamp2 {
    height:0px;
    width:0px;
    left: 520px;
    top: 315px;
    background-color: transparent;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  }

  #zijkant {
    height:0px;
    width:0px;
    left: 270px;
    top: 270px;
    background-color: transparent;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  }

  #wiel2 {
    height:0px;
    width:0px;
    left: 160px;
    top: 75px;
    background-color: transparent;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    box-sizing: border-box;
  }

  #wiel3 {
    height:0px;
    width:0px;
    left: 240px;
    top: 75px;
    background-color: transparent;
    color: black;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    
  }

  .responsive {
    max-width: 100%;
    height: auto;
  }